{
  "IR": {
    "tv.on": {
      "format": "raw",
      "freq": 38,
      "data": [
      ]
    },
    "ac.on": {
      "format": "raw",
      "freq": 38,
      "data": [
      ]
    },
    "ac.off": {
      "format": "raw",
      "freq": 38,
      "data": [
        935
      ]
    },
    "tv.source": {
      "format": "raw",
      "freq": 38,
      "data": [
      ]
    }
  },
  "Device": {
    "default": {
      "deviceid": "",
      "clientkey": ""
    }
  }
}
